<!-- //- desktop
.row.dsk
    .col-sm-6
        bdt-map
    .col-sm-6
        bdt-filters
        hr(ng-show="!vm.BigDataToolService.display.allFilters")
        bdt-location-list(ng-show="!vm.BigDataToolService.display.allFilters")

//- tablet & smaller
.row.mbl
    .col-xs-12
        bdt-controls
        bdt-map(ng-show="vm.BigDataToolService.display.map")
        bdt-filters(ng-show="vm.BigDataToolService.display.filters")
        bdt-location-list(ng-show="vm.BigDataToolService.display.list") -->


<div class="container">
	<div class="row dsk">
		<div class="col-sm-6">
			<app-map></app-map>
		</div>
		<div class="col-sm-6">
			<app-filters></app-filters>
			<hr *ngIf="!display.allFilters">
			<app-location-list *ngIf="!display.allFilters"></app-location-list>
		</div>
	</div>
	<div class="row mbl">
		<div class="col-xs-12">
			<app-controls></app-controls>
			<app-map *ngIf="display.map"></app-map>
			<app-filters *ngIf="display.filters"></app-filters>
			<app-location-list *ngIf="display.list"></app-location-list>
		</div>
	</div>
</div>